<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wiredelta.colomer" version="1.3.6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Colomer</name>
    <description>
        Colomer App
    </description>
    <author email="sheriff.m@wiredelta.com" href="http://wiredelta.com/sheriff">
        Sheriff M
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
        <feature name="http://api.phonegap.com/1.0/geolocation"/>
    
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.SplashScreen" />
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>        
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.GeoBroker" />
    </feature>

    <gap:plugin name="com.phonegap.plugins.PushPlugin"/>

    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />

    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />

    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-hdpi-landscape.png" width="800" />
    <gap:splash gap:platform="ios" height="800"  src="res/screen/ios/screen-hdpi-portrait.png" width="480" />
    <gap:splash gap:platform="ios" height="720" src="res/screen/ios/screen-xhdpi-landscape.png" width="1280" />
    <gap:splash gap:platform="ios" height="1280" src="res/screen/iosscreen-xhdpi-portrait.png" width="720" />

    <icon src="icon.png" />
    <access origin="*" />
</widget>
